@model MachineCloud.Web.Models.AssetTypeViewModel

@{
    ViewBag.Title = "Asset Types";
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Property Name
        </th>
        <th>
            Unique Identifier?
        </th>
        <th>
            Property Type / Unit Of Measurement
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    @foreach (var type in Model.AssetTypes)
    {
        <tr class="success">
            <td><b>@type.Name</b></td>
            <td>@Html.ActionLink("Remove","Remove",new{type.Name},new{@class="btn btn-warning"})</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        foreach (var property in type.Properties)
        {
        <tr class="info">
            <td>&nbsp;</td>
            <td>@property.Name</td>
            <td><input type="checkbox" disabled="disabled" @(property.IsUniqueIdentifier?"checked=checked":"")></td>
            <td>
                @if (property.ValueType != null)
                {
                    @Enum.GetName(typeof(MachineCloud.Domain.SystemTypes),property.ValueType.Value)
                }
                else if (property.UnitOfMeasurement != null)
                {
                    @property.UnitOfMeasurement.Name  <text>(</text> @property.UnitOfMeasurement.ShortName <text>)</text>
                }
                else if(property.Type != null)
                {
                    @property.Type.Name
                }
            </td>
            <td>@Html.ActionLink("Remove","RemoveProperty",new{type.Name, propertyName = property.Name},new{@class="btn btn-warning"})</td>
        </tr>
        }
        using (Html.BeginForm("AddProperty", "AssetType", new {type.Name}))
        {
            <tr class="info">
                <td>&nbsp;</td>
                <td>@Html.TextBox("propertyName",null)</td>
                <td>@Html.CheckBox("propertyIsUniqueIdentifier",false)</td>
                <td>
                    <label class="radio">
                        <input type="radio" name="optionsPropertyType" id="optionSystemValueType" value="optionSystemValueType" checked>
                        System Type:
                        @Html.DropDownList("selectedSystemValueType",Model.SelectableSystemValueTypes)
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsPropertyType" id="optionUnitOfMeasurement" value="optionUnitOfMeasurement" checked>
                        Unit of Measurement:
                        @Html.DropDownList("selectedUnitOfMeasurement",Model.SelectableUnitsOfMeasurement)
                    </label>
                    <label class="radio">
                        <input type="radio" name="optionsPropertyType" id="optionAssetType" value="optionAssetType" checked>
                        Asset Type:
                        @Html.DropDownList("selectedAssetType",Model.SelectableAssetTypes)
                    </label>
                </td>
                <td><button type="submit" class="btn btn-success">Add</button></td>
            </tr>
        }
       
    }
    @using (Html.BeginForm("Create", "AssetType"))
    {
         <tr class="success">
            <td>@Html.TextBox("name",null)</td>
            <td><button type="submit" class="btn btn-success">Add</button></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    }
</table>